
.DS_Store
*.swift
*.xcplayground
*.xcworkspacedata
*.xcuserstate
Crossword.playground/Resources/example.xml
Crossword.playground/Sources/example.xml
Crossword.playground/timeline.xctimeline
example.puz
example.xml
example2.xml
invalid.xml
noclues.xml
nogrid.xml
PUZ Format.pdf
wordlist-write.txt
words 2.txt
XPF Format.pdf
old_cross.py
xw.js
Screen Shot 2017-09-01 at 5.30.27 PM.png
Screen Shot 2017-09-06 at 5.22.58 PM.png
Screen Shot 2017-09-07 at 4.40.17 PM.png
Other/cross.py
Other/gui.py
Other/08.09.11.json.txt
Other/14.01.01.json
Other/14.01.02.json
Other/17.09.18.json.txt
Other/example.aspx
Other/Screen Shot 2017-09-18 at 8.37.33 PM.png
Other/17.09.19.json.txt
Other/17.09.20.json.txt
Other/Screen Shot 2017-09-20 at 2.39.43 PM.png
Other/17.09.21.json.txt
Other/Screen Shot 2017-09-21 at 12.53.20 PM.png
Other/17.09.22.json.txt
Other/17.09.23.json.txt
Other/Screen Shot 2017-09-23 at 10.19.27 AM.png
Other/17.09.25.json.txt
Other/JSON Format (Jeff Chen).txt
Other/JSON Format (Keiran).txt
Other/Screen Shot 2017-09-25 at 12.44.15 PM.png
wordlist.txt
Other/WL-MirriamWebster9thCollegiate.txt
Other/Product Names.txt
Other/screenshot.png
Other/17.09.26.json.txt
Other/17.09.28.json.txt
Other/logo a1.png
Other/logo a1.svg
Other/logo a2.svg
Other/Logo.sketch
Other/17.09.29.json.txt
Other/Testing/example.aspx
Other/Marketing/logo a1.png
Other/Marketing/logo a1.svg
Other/Marketing/logo a2.svg
Other/Marketing/Logo.sketch
Other/Marketing/Product Names.txt
Other/Puzzles/08.09.11.json.txt
Other/Puzzles/14.01.01.json
Other/Puzzles/14.01.02.json
Other/Puzzles/17.09.18.json.txt
Other/Puzzles/17.09.19.json.txt
Other/Screenshots/screenshot.png
Other/Screenshots/Screen Shot 2017-10-02 at 11.37.29 AM.png
Other/Screenshots/Screen Shot 2017-09-25 at 12.44.15 PM.png
Other/Screenshots/Screen Shot 2017-09-21 at 12.53.20 PM.png
Other/Screenshots/Screen Shot 2017-09-20 at 2.39.43 PM.png
Other/Screenshots/Screen Shot 2017-09-18 at 8.37.33 PM.png
Other/Puzzles/17.09.29.json.txt
Other/Puzzles/17.09.28.json.txt
Other/Puzzles/17.09.26.json.txt
Other/Puzzles/17.09.20.json.txt
Other/Puzzles/17.09.21.json.txt
Other/Puzzles/17.09.22.json.txt
Other/Puzzles/17.09.23.json.txt
Other/Puzzles/17.09.25.json.txt
Other/Screenshots/Screen Shot 2017-10-03 at 12.27.48 PM.png
Other/Screenshots/Screen Shot 2017-10-03 at 12.36.10 PM.png
Other/Screenshots/Screen Shot 2017-10-03 at 12.42.52 PM.png
Other/Puzzles/17.10.03.json.txt
*.o
depend.mk
glucose
third_party/glucose-3.0/simp/xwsolve.js
third_party/glucose-3.0/simp/xwsolve.wasm
xwsolve.js
xwsolve.wasm
