body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto", "Droid Sans", "Arial", sans-serif;
  width: 840px;
}

#main {
  width: 580px;
  height: 550px;
  float: left;
}

#sidebar {
  width: 260px;
  height: 550px;
  float: right;
}

.half-sidebar {
  height: 50%;
}

h1 {
  margin-bottom: 0;
  font-size: 24pt;
}

h2.direction-heading {
  font-size: 15pt;
  margin: 0;
}

p.current-word {
  margin:0;
  font-size: 21pt;
  font-weight: 300;
}

p.matches {
  margin: 0;
  word-wrap: break-word;
}

.label {
  font-size: 8pt;
  font-weight: 500;
  position: absolute;
  left: 2px;
  top: 0px;
}

#grid {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  font-size: 15pt;
  font-weight: 300;
}
#grid td {
  width: 35px;
  height: 36px;
  position: relative;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
#grid td.active {
  border: 1px solid #55b8fe;
  color: #55b8fe;
  opacity: 0.8;
  font-weight: 400;
}
#grid td.black {
  background-color: black;
}

#grid td.highlight {
  background-color: #def1ff;
  font-weight: 400;
}

#grid td.lowlight {
  background-color: #edeff0;
}

td {
}
