body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto", "Droid Sans", "Arial", sans-serif;
  width: 850px;
}

h1 {
  font-size: 20pt;
  font-weight: 300;
  color: #999;
  margin-bottom: 5px;
}

#file-input {
  display: none;
}

#grid {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  font-size: 15pt;
  font-weight: 300;
}

#grid:focus {
  outline: 2px solid #55b8fe;
}

#grid td {
  width: 35px;
  height: 36px;
  position: relative;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

#grid td.active {
  border: 1px solid #55b8fe;
  opacity: 0.8;
  font-weight: 400;
}

#grid td.black {
  background-color: black;
}

#grid td.highlight {
  border: 1px solid #55b8fe;
  background-color: #def1ff;
  font-weight: 400;
}

#grid td.lowlight {
  background-color: #f5f7f7;
}

#main {
  width: auto;
  height: 550px;
  float: left;
}

#puzzle-author {
  margin: 0;
  width: auto;
}

#puzzle-title {
  margin: 0;
  width: auto;
  max-width: 400px;
  overflow: hidden;
  font-weight: 500;
  color: black;
}

#sidebar {
  width: 260px;
  height: 550px;
  float: left;
  margin-left: 8px;
}

#sidebar .current-word {
  margin:0;
  font-size: 21pt;
  font-weight: 300;
}

#sidebar .direction-heading {
  padding: 3px 0 2px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

}

#sidebar .direction-heading.highlight {
  border-top: 1px solid #55b8fe;
  border-bottom: 1px solid #55b8fe;
}

#sidebar ul.matches {
  margin: 0;
  height: 70%;
  /*width: 160px;*/
  list-style-type: none;
  padding: 0;
  color: #999;
  font-weight: 400;
  overflow: hidden;
  overflow-y: scroll;
}

#sidebar ul.matches li {
  margin: 2px 0;
}

#sidebar ul.matches li:hover {
  background: #f5f7f7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #f2f2f2 , transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f2f2f2, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f2f2f2, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f2f2f2 , transparent); /* Standard syntax */

  color: black;
  font-weight: 500;
}

#toolbar button {
  position: relative;
  border-radius: 4px;
  background-color: white;
  /*border: 1px solid #eee;*/
  border: none;
  color: #444;
  text-align: center;
  font-size: 14pt;
  padding: 6px;
  transition: all 0.1s;
  margin: 0;
}

#toolbar button.button-on {
  background-color: #cae9ff;
}

#toolbar button:focus {
  outline: none;
}

#toolbar button:hover {
  background-color: #def1ff;
  /*border-color: #444;*/
}

#toolbar button:hover:after {
  content: attr(data-tooltip);
  margin-top: 2px;
  padding: 2px 0;
  background: white;
  color: #444;
  font-size: 9pt;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
}

#toolbar button.disabled {
  color: #ccc;
}

.clue {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.clue-number {
}

.editable:hover {
  background-color: #def1ff;
}

.editable:focus {
  outline: none;
  border-bottom: 2px solid #55b8fe;
}

.half-sidebar {
  height: 50%;
}

.label {
  font-size: 8pt;
  font-weight: 500;
  position: absolute;
  left: 2px;
  top: 0px;
}
